name: noVNC + WebRTC

on:
  workflow_dispatch:

jobs:
  run-vnc:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install desktop & VNC
      run: |
        sudo apt update -o Acquire::AllowInsecureRepositories=true
        sudo apt install -y xfce4 xfce4-goodies \
        tightvncserver pulseaudio xclip wget tar git novnc websockify curl x11-xserver-utils --allow-unauthenticated
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
        sudo apt update -o Acquire::AllowInsecureRepositories=true
        sudo apt install -y google-chrome-stable --allow-unauthenticated
        pulseaudio --start
        
        mkdir -p ~/.vnc
        echo "" | vncpasswd -f > ~/.vnc/passwd
        chmod 600 ~/.vnc/passwd
        
        # xstartup
        cat > ~/.vnc/xstartup <<EOF
        #!/bin/sh
        unset SESSION_MANAGER
        unset DBUS_SESSION_BUS_ADDRESS
        startxfce4 &
        EOF
        chmod +x ~/.vnc/xstartup
        export DISPLAY=:1
        vncserver :1 -geometry 1366x768 -depth 24 -localhost
        websockify --web /usr/share/novnc/ --wrap-mode=ignore 6080 localhost:5901 --idle-timeout 0 &
        echo "noVNC is running on port 6080"

        export VNC_CLIPBOARD=1

    - name: Install Waydroid repo
      run: |
        curl https://repo.waydro.id | sudo bash

    - name: Install Waydroid
      run: |
        sudo apt install -y waydroid

    - name: Initialize Waydroid with GApps (software mode)
      run: |
        sudo systemctl stop waydroid-container || true
        sudo WAYDROID_DISABLE_BINDER=1 \
             WAYDROID_DISABLE_MODULE_LOAD=1 \
             waydroid init -s GAPPS -f --force-no-kernel

    - name: Start Waydroid Container
      run: |
        sudo WAYDROID_DISABLE_BINDER=1 \
             WAYDROID_DISABLE_MODULE_LOAD=1 \
             waydroid container start
        sleep 10

    - name: Launch Waydroid UI
      run: |
        export WAYDROID_DISABLE_BINDER=1
        export WAYDROID_DISABLE_MODULE_LOAD=1
        export DISPLAY=:1
        sudo -E waydroid session start &
        sleep 10

    - name: Install Cloudflared tunnel
      run: |
        wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
        sudo dpkg -i cloudflared-linux-amd64.deb

    - name: Expose noVNC public URL
      run: |
          echo "Creating public tunnel..."
          cloudflared tunnel --url http://localhost:6080 --no-autoupdate > log.txt 2>&1 &
          sleep 10
          echo "=============================================="
          grep -o 'https://.*trycloudflare.com' log.txt
          echo "=============================================="
          echo "Keep this Actions job running to maintain connection."
          tail -f /dev/null
