name: XFCE + noVNC + QEMU Android (GApps + Window Mode)

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Update system
      run: sudo apt update

    - name: Install XFCE, VNC, noVNC, Websockify
      run: |
        sudo apt install -y xfce4 xfce4-goodies tigervnc-standalone-server novnc websockify

        mkdir -p ~/.vnc
        echo "1" | vncpasswd -f > ~/.vnc/passwd
        chmod 600 ~/.vnc/passwd

        vncserver -kill :1 || true
        vncserver -geometry 1600x900 :1

        nohup websockify --web=/usr/share/novnc 6080 localhost:5901 >/dev/null 2>&1 &

    - name: Install QEMU
      run: |
        sudo apt install -y qemu-kvm qemu-utils qemu-system-x86 \
        libgtk-3-0 libgtk-3-bin libglib2.0-0

    - name: Install Cloudflare Tunnel
      run: |
        wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
        sudo dpkg -i cloudflared-linux-amd64.deb

        mkdir -p ~/.cloudflared
        nohup cloudflared tunnel --url http://localhost:6080 > ~/.cloudflared/cf.log 2>&1 &

    - name: Show Tunnel URL
      run: |
        sleep 5
        cat ~/.cloudflared/cf.log | grep "https://"
        echo "=============================="
        echo "XFCE Desktop + QEMU Android with GApps"
        echo "=============================="
        cat ~/.cloudflared/cf.log | grep "https://"

    - name: Keep runner alive 6 hours
      run: |
        echo "Running..."
        sleep 21600
